In [1]:
import pandas as pd
from chronos import BaseChronosPipeline

/home/danny/Desktop/mini-sarah-ai/ml/.ml_venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
pipeline = BaseChronosPipeline.from_pretrained("amazon/chronos-2", device_map="cpu")

In [3]:
context_df = pd.read_excel("../data/cpg_inventory_60months.xlsx")

In [9]:
context_df = context_df[["Product_ID", "Period", "Units_Sold"]]

In [10]:
pred_df = pipeline.predict_df(
    context_df,
    prediction_length=1,  # Number of steps to forecast
    quantile_levels=[0.1, 0.5, 0.9],  # Quantiles for probabilistic forecast
    id_column="Product_ID",  # Column identifying different time series
    timestamp_column="Period",  # Column with datetime information
    target="Units_Sold",  # Column(s) with time series values to predict
)

/home/danny/Desktop/mini-sarah-ai/ml/.ml_venv/lib/python3.12/site-packages/torch/utils/data/dataloader.py:668: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

In [11]:
pred_df

,Product_ID,Period,target_name,predictions,0.1,0.5,0.9
0,P001,2026-01-01,Units_Sold,161.855621,138.931488,161.855621,192.981506
1,P002,2026-01-01,Units_Sold,256.882294,208.963898,256.882294,312.135559
2,P003,2026-01-01,Units_Sold,250.145813,208.601913,250.145813,293.408844
3,P004,2026-01-01,Units_Sold,57.784527,49.422523,57.784527,70.374596
4,P005,2026-01-01,Units_Sold,141.159027,124.117165,141.159027,165.090240
5,P006,2026-01-01,Units_Sold,175.407639,147.836227,175.407639,226.187485